

{% block stylesheets %}
<link href="{{ asset('css/estilsEquip.css') }}" rel="stylesheet" />
{% endblock %}

    {% if equip is defined %}
        <h1 id="titolEquip">Detalles del Equipo</h1>
        <ul class="paragrafEquip">
        <a href="{{ path('inici') }}">
    <img src="{{ asset('imgs/perfil.png') }}" alt="Imatge Inici" class="imatgeInici">
</a>
            <li><strong>Código:</strong> {{ equip.codi }}</li>
            <li><strong>Nombre:</strong> {{ equip.nom }}</li>
            <li><strong>Ciclo:</strong> {{ equip.cicle }}</li>
            <li><strong>Curso:</strong> {{ equip.curs }}</li>
            <li><strong>Miembros:</strong>
                <ul>
                    {% for miembro in equip.membres %}
                        <li>{{ miembro }}</li>
                    {% endfor %}
                    <li><a class="nav-link scrollto " href ="{{ path('inici') }}">Volver a inicio</a></li>
                </ul>
            </li>
        </ul>
        
    {% else %}
    <ul class="paragrafEquip">
         <li><a href="{{ path('inici') }}">
    <img src="{{ asset('imgs/no-encontrado.jpg') }}" alt="Imatge Inici" class="imatgeInici">
</a></li>
         <h1 id="titolEquip">Equipo no encontrado</h1>
         <li><a class="nav-link scrollto " href ="{{ path('inici') }}">Volver a inicio</a></li>
    </ul>
    
    {% endif %}

